<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d302be36-6ffe-47b8-a247-0aa8dadf9133" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://mavdv-ccpts-03.curaspan.local:8081" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d302be36-6ffe-47b8-a247-0aa8dadf9133fileName">http%3A%2F%2Fmavdv-ccpts-03.curaspan.local%3A8081</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://mavdv-ccpts-03.curaspan.local:8081</con:endpoint></con:endpoints></con:interface>